.completeForm {
	width: 50%;
	margin: 0 auto;

	textarea {
		height: 100px;
		width: 100%;
		margin-bottom: 16px;
	}

	.catSpan {
		font-family: $montserrat;
		font-size: 1.4em;
		font-weight: 400;
		margin-right: 6px;
	}

	#cameraUpload {
		margin: 0;
		padding: 0;
		border: none;
		position:relative;
		left: -9999px;
		display: none;
	}

	.author, .date {
		font-size: 1.2em;
		line-height: 1em;
	}
}