 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Partials
@import 'fonts';
@import 'colors';
@import 'posts';
@import 'add';
@import 'edit';
@import 'complete';
@import 'login';

// Standard Styles
body {
  font-family: $lora;
  font-size: 62.5%;
  font-weight: 200;
  line-height: 30px;
  color: $dgrey;
  background-color: $lgrey;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1, h3 {
  font-family: $montserrat;
  font-weight: 700;
}

h3 {
  font-size: 2.4em;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $red;
  font-size: 1.4em;
  font-family: $montserrat;
}

button {
  border: none;
  color: $red;
  border: 2px solid $red;
  background-color: $white;
  font-size: 1.4em;
  font-family: $montserrat;
  padding: 6px 16px;
  border-radius: 2px;
}

input {
  display: block;
  font-size: 1.4em;
  padding-left: 10px;
  border: 2px solid $lgrey;
}

textarea {
  display: block;
  font-size: 1.4em;
  padding: 6px 10px;
  border: 2px solid $lgrey;
}

select {
  font-family: $montserrat;
  font-size: 1.4em;
  font-weight: 400;
  border: 2px solid $red;
  border-radius: 2px;
  padding: 6px 10px;
  background-color: $white;
  color: $red;
}

p {
  font-family: $lora;
  font-size: 1.6em;
  font-weight: 400;
}

// Custom Styles
.wrapper {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
  background-color: $white;
}

nav {

  .container {
    border-bottom: 6px solid $lgrey;
  }

  a {
    margin-right: 16px;

    button {
      font-size: 1em;
      line-height: 1em;
      padding: 8px 12px;
      vertical-align: middle;
    }
  }

  .catSpan {
    font-family: $montserrat;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0 6px 0 20px;
  }

  a.addButton {
    float: right;
  }
}