<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Taylor</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <nav>
        <a href="#/">Home</a>
        <a href="#/addPost">Add</a>
      </nav>
      <h1>Letters to Tay</h1>

      <!-- Dynamic Content Area -->
      <div id="content"></div>
      <!-- End Dynamic Content Area -->

    </div>

    <!-- Home Template -->
    <script type="text/template" id="homePosts">
      <li>
        <h3><%= title %></h3>
        <p>by <%= author %></p>
        <p><%= description %></p>
        <p><%= updatedAt %></p>
        <a href="#/single/<%= objectId %>">View Post</a>
        <a href="#/editPost/<%= objectId %>">Edit Post</a>
      </li>
    </script>
    <!-- End Home Template -->

    <!-- Single Template -->
    <script type="text/template" id="singlePost">
      <h3><%= title %></h3>
      <p>by <%= author %></p>
      <p><%= description %></p>
      <p><%= updatedAt %></p>
    </script>
    <!-- End Single Template -->

    <!-- Add Template -->
    <script type="text/template" id="addPost">
      <input id="newTitle" placeholder="Add a Title"></input>
      <textarea name="" id="newTextContent" placeholder="Add Text Content"></textarea>
      <button id="createPost">Add Post</button>
    </script>
    <!-- End Add Template -->

    <!-- Edit Template -->
    <script type="text/template" id="editPost">
      <input id="newTitle" value="<%= title %>"></input>
      <textarea id="newTextContent"><%= description %></textarea>
      <button id="submitEdit">Edit Post</button>
    </script>
    <!-- End Edit Template -->

    <!-- Bind App object to Window -->
    <script type="text/javascript">
      window.App = {};
      App.Models = {};
      App.Collections = {};
      App.Views = {};
      App.Router = {};
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="//www.parsecdn.com/js/parse-1.3.4.min.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/post_model.js"></script>
    <script src="scripts/collections/posts.js"></script>
    <script src="scripts/views/home_view.js"></script>
    <script src="scripts/views/single_view.js"></script>
    <script src="scripts/views/add_view.js"></script>
    <script src="scripts/views/edit_view.js"></script>
    <script src="scripts/routes/router.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

  </body>
</html>
